:root {
    color-scheme: dark light;
}

kbd {
    background-color: #505050;
    padding: 0.2em;
    border: 2px #3A3A3A solid;
    border-radius: 3px;
    border-style: outset;
    font-size: 75%;
    font-weight: 475;
    font-family: monospace;
    white-space: no-wrap;
}

p:has(> img:not(.emoji)) {
    text-align: center;
}

.twitter-tweet {
    margin: auto;
}

blockquote.tagline {
    font-style: normal;
}

figure.cover-image {
    margin: 5px 0px;
}
img.cover-image {
    width: 100%;
    object-fit: scale-down;
    @media screen and (min-width: 450px) {
	height: clamp(315px,465vw,450px);
	object-fit: cover;
    }
}
figcaption.cover-image {
    text-align: center;
    font-size: 0.8em;
}

